/* CSS externo */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    hsl(141deg 75% 15%),
    hsl(141deg 75% 5%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container-aplicativo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

#capitulo {
  font-size: 22.4px;
  font-weight: 700;
  text-align: center;
}

#container-botoes {
  display: flex;
  gap: 10px;
}

#nome-autor {
  font-size: 19.2px;
}

svg {
  cursor: pointer;
}

#anterior,
#proximo {
  width: 40px;
}

#play-pause {
  width: 60px;
}

.pause {
  display: none;
}

.tocando .play {
  display: none;
}

.tocando .pause {
  display: block;
}
